border-radius()
	-moz-border-radius arguments
	-webkit-border-radius arguments
	-khtml-border-radius arguments
	border-radius arguments

h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table,
fieldset, figure, pre, .post, .feature, .entry-meta, .comment, .comment-navigation
	margin-top 0
	marginBottom 1

.post-navigation, .paging-navigation
	margin-top 0
	marginBottom 2

.logo
	margin 0

iframe
	display block