.footer
	background $grey-dark
	color $grey
	font-family $font-family-kreon
	fs(.9)
	lh(.9)
	scale padding 1 24px
	a
		color white

.footer-nav
	li
		padding-right 15px

.copyright
	color #989b97
	margin-bottom 0
