.footer
	background $grey-dark
	color $grey
	font-family $font-family-kreon
	text-align center
	.menu
		margin-bottom 0
		list-style none
	.menu-item a
		color $grey
		&:hover, &:active
			color $grey-light
			text-decoration none

.footer-section
	scale padding 1 24px 0

.footer-section-title
	color #FFF
	font-family $font-family-kreon

.footer-border-top, .footer-border-bottom
	min-height $line-height-px - 1
	margin 0 auto
	width 90%

.footer-border-top
	border-bottom 1px solid #151515
.footer-border-bottom
	border-top 1px solid #515151

.footer-bottom
	color #888
	fs(.9)
	lh(.9)
	padding 0 20px
	a
		color #888
		text-decoration underline
		&:hover
			color white
