.footer
	background $darker-grey
	color $dark-grey
	font-family $font-family-kreon
	text-align center
	.menu
		margin-bottom 0
		list-style none
	.menu-item a
		color $dark-grey
		&:hover, &:active
			color $light-grey
			text-decoration none

.footer-section
	padding 0 24px
	scale('padding-top', 1)
	scale('padding-bottom', 1)

.footer-section-title
	color #FFF
	font-family $font-family-kreon

.footer-border-top, .footer-border-bottom
	min-height $line-height-px - 1
	margin 0 auto
	width 90%

.footer-border-top
	border-bottom 1px solid #151515
.footer-border-bottom
	border-top 1px solid #515151

.footer-bottom
	color #888
	fontSize .9
	lineHeight .9
	a
		color #888
		text-decoration underline

unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
unquote("}")

