.search-bar .search-form
  float right
.search-form
  width 300px
.search-field, .search-btn
  height 36px

.search-form-li
  max-height 30px
.search-form-li .search-field
  height 26px
.search-form-li .search-btn
  height 26px
  line-height 14px

.resp-nav-li .search-form
  float none
  margin 0 auto
  width 95%

.form-subscribe
  scale padding 1 0
  scale margin-bottom 1
  .control-label
    lh(2)
    padding 0
  input, .btn-subscribe
    scale height 2

a.btn-success, a.btn-warning, a.btn-danger
  color white

unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
.form-subscribe
  .control-label
    lh(2 * $mobile-mult)

unquote("}")
