.nord-intro-content
	padding 0 30px
	scale padding-top .5
	scale padding-bottom .5
.nord-intro-header
	fs(2.25)
	lh(2.25)
	font-weight 700
.nord-intro-body
	fs(1.25)
	lh(1.25)

.feature
	border-right 1px solid #CCC
	&.last
		border none

.feature-content
	scale padding-top .5
	scale padding-bottom .5
	padding-left 20px
	padding-right 20px

unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
.feature
	border none
unquote("}")