.header
	background $purple-dark
	border-bottom 3px solid orange

.logo
	background url(../img/logo.png) 20px center no-repeat
	font-size 1px
	scale padding 1 0
	display block
	text-indent -9999px
	&:focus
		outline 0 none

.main-nav
	fs(.95)
	font-weight 600
	scale height 1
	lh(.95)
	list-style none
	margin 0
	li
		background-color $purple-light
		border-right 1px solid $purple-dark
		border-left 1px solid #aaa
		scale height 1
		text-align center
		float left
		width (100% / $main-nav-items)
		a
			color white
			display block
			padding 0 16px
			overflow hidden
			text-decoration none
			&:hover, &:active
				background-color $purple-dark

.navbar-toggle-wrapper
	display none

.navbar-collapse
	border none
	padding 0

unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
.navbar-toggle-wrapper
	background-color $purple-light
	display block
	scale height 2
.navbar-toggle-button, .navbar-toggle-button:hover
	background-color $yellow-light
	border-radius 4px
	box-shadow none
	position relative
	float right
	padding 9px 10px
	scale height 1.5
	margin ($line-height-px/4) 10px
	border 1px solid $yellow-light
	.icon-bar
		background-color $purple-dark
		display block
		width 22px
		height 2px
		border-radius 1px
		& + .icon-bar
			margin-top 4px
.navbar-toggle-button:hover
	background-color $yellow
.main-nav
	fs(1.25)
	lh(1.25)
	height auto
	li
		border none
		height auto
		width 100%
unquote("}")


