.placeholder
	border 0
	display block
	font-size 0
	margin 0
	padding 0
	width 100%

.no-ov
	overflow hidden

for i in 1 2 3 4 5 6 7 8 9 10
	.spacer{i}
		@extends .placeholder
		scale height (i/2)

.cf
	clearfix()

.top-shadow
	@extends .placeholder
	background url("../img/bg_shadow.png") repeat-x scroll left top transparent
	scale('min-height', 1)

.hidden
	display none

.hr
	@extends .placeholder
	background url(../img/logo-hr.png) no-repeat center center
	scale('min-height', 3)
