@import url("http://fonts.googleapis.com/css?family=Kreon:400,700")
@import url("http://fonts.googleapis.com/css?family=Bitter:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato:400,300,700,900");
@import "nib"
@import "variables.styl"
@import "mixins.styl"
@import "default.styl"
@import "typography.styl"
@import "containers.styl"
@import "header.styl"
@import "buttons.styl"
@import "helpers.styl"
@import "sidebar.styl"
@import "front-page.styl"
@import "post.styl"
@import "comment.styl"
@import "footer.styl"


.search-form
	border-right 1px solid #ccc
	margin-right 10px
	relative: left top 5px
	.btn
		padding-bottom 5px

.newsletter
	border-right 1px solid #ccc
	padding 0 0 0 5px
	relative: left top 5px

.social-icons
	padding-right: 5px
	relative: left top 5px


.subscription-form-container
	font-size .75em
	relative: left top 3px
	vertical-align middle
	form
		padding 0
		margin 0

.joinus
	relative: right top 8px

.header-meta
	height 40px

.social
	background-image url(../img/sprites-social.png)
	display inline-block
	float left
	min-height 34px
	min-width 34px
	text-indent -9999px

	&.social-facebook
		background-position -104px -10px

	&.social-twitter
		background-position -8px -136px

	&.social-linkedin
		background-position -331px -3px

	&.social-rss
		background-position -85px -41px

.partners-list
	li
		height 4em
		img
			height auto
			vertical-align middle
			width 100%

.nav .divider-vertical
	border-left 1px solid lightest-purple
	border-right 1px solid lightest-purple

.vertical-divider
	background-color #444
	float left
	min-height 200px
	width 2px
