.breadcrumbs
	scale(padding-top, 1)

.paypal-form
	scale(height, 3)

.event
	scale(margin-bottom, 2)
.event-date
	margin-bottom 0
	font-style: italic


unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
.breadcrumbs, .entry
	padding 0 20px
unquote("}")
