.breadcrumbs
	scale(padding-top, 1)

.paypal-form
	scale(height, 3)

.event
	scale(margin-bottom, 2)
.event-date
	margin-bottom 0
	font-style: italic

.summary-title
	scale margin-bottom .5
	a:link
		color $purple-light
	a:hover
		text-decoration underline
	a:visited, a:active
		color $purple

.summary-date
	fs(.8)
	lh(.8)

unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
.breadcrumbs, .entry
	padding 0 20px
unquote("}")
