/**
 * Uitlities style
 */
.cf
	clearfix()

.top-shadow
	background url("../img/bg_shadow.png") repeat-x scroll left top transparent

hr
	background url(../img/logo-hr.png) no-repeat center center
	border none
	min-height 70px
	margin 0

.hidden
	display none

