/* Color Scheme */
lightest-purple =#8158B0
lighter-purple = #7038B0
mid-purple = #320961
darker-purple = #2E1749
darkest-purple = #1F033F
light-grey = #E6E6E6
dark-grey = #6E6E6E
darker-grey = #303030
orange = #f3c14c
dark-orange = #f3964c
light-brown = #C4A54E

// bg-color = #FAFAFA
bg-color = #fafafa
color = #333
font-family = "Droid Sans", Georgia, Times, serif
font-size = 100%
line-height = 1.5em

footer-height = 400px

border-color = #cacaca

