@import url("http://fonts.googleapis.com/css?family=Kreon:400,700");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,600");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,900,700,600");
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
@import url("http://fonts.googleapis.com/css?family=Bitter:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato:400,300,700,900");
h1,h2,h3,h4,h5,h6,hgroup,ul,ol,dl,blockquote,p,address,table,fieldset,figure,pre,.post,.feature{margin-top:0;margin-bottom:24px;margin-bottom:1.5rem}
.logo{margin:0}
iframe{display:block}
html{font-size:100%}
body{background-color:#ddd;color:#333;font:400 100%/1.5 "Lato","Helvetica","Arial",sans-serif}
body,input,button{text-rendering:optimizeLegibility;webkit-font-smoothing:antialiased}
h1,h2,h3,h4,h5,h6{color:#320961;font-family:"Bitter","Helvetica","Arial",sans-serif;font-weight:700;}
h1 a:link,h2 a:link,h3 a:link,h4 a:link,h5 a:link,h6 a:link,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited,h1 a:focus,h2 a:focus,h3 a:focus,h4 a:focus,h5 a:focus,h6 a:focus{color:#320961;text-decoration:none}
h1,.alpha{fontSize:2.25;lineHeight:2.25}
p{word-break:break-word}
.indent p+p{text-indent:1.5em;margin-top:-1.5em}
b,strong{font-weight:700}
em{font-style:italic}
mark{background-color:#ff8}
code,pre{background-color:#eee;font-family:Inconsolata,Monaco,Consolas,"Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;font-size:14.4px;font-size:.9rem}
a:link,a:visited{color:#7b54a8;text-decoration:none}
a:hover{text-decoration:underline}
a:focus{outline:thin dotted}
blockquote{padding-top:12px;padding-top:.75rem;padding-bottom:12px;padding-bottom:.75rem;}
blockquote p{fontSize:1;lineHeight:1;font-weight:400}
blockquote small{color:#6e6e6e;fontSize:.8;lineHeight:.8}
ul{list-style:inside url("../img/list.png")}
.leading{fontSize:1.1;lineHeight:1.1}
@media print{*{background:transparent !important;color:#000 !important;-webkit-box-shadow:none !important;box-shadow:none !important;text-shadow:none !important}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid}
}.content{background-color:#fff;}
.content webkit-box-shadow 012px20px0px#858585 -moz-box-shadow 012px20px0px#858585{-webkit-box-shadow:0 12px 20px 0 #858585;box-shadow:0 12px 20px 0 #858585}
.header{height:120px;height:7.5rem;background:#320961;border-bottom:3px solid #ffa500}
.logo{font-size:1px;margin-top:24px;margin-top:1.5rem;text-indent:-9999px}
.main-nav{fontSize:.95;font-weight:600;height:24px;height:1.5rem;lineheight:.95;list-style:none;margin:0;}
.main-nav li{background-color:#7b54a8;border-right:1px solid #320961;border-left:1px solid #aaa;height:24px;height:1.5rem;text-align:center;float:left;width:12.5%;}
.main-nav li a{color:#fff;display:block;padding:0 16px;overflow:hidden;text-decoration:none;}
.main-nav li a:hover,.main-nav li a:active{background-color:#320961}
.navbar-toggle-wrapper{display:none}
.navbar-collapse{border:none;padding:0}
@media screen and (max-width: 767px) {
.navbar-toggle-wrapper{background-color:#7b54a8;display:block;height:48px;height:3rem}
.navbar-toggle-button,.navbar-toggle-button:hover{background-color:#ffdd92;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;-webkit-box-shadow:none;box-shadow:none;position:relative;float:right;padding:9px 10px;height:36px;height:2.25rem;margin:6px 10px;border:1px solid #ffdd92;}
.navbar-toggle-button .icon-bar,.navbar-toggle-button:hover .icon-bar{background-color:#320961;display:block;width:22px;height:2px;-moz-border-radius:1px;-webkit-border-radius:1px;-khtml-border-radius:1px;border-radius:1px;}
.navbar-toggle-button .icon-bar + .icon-bar,.navbar-toggle-button:hover .icon-bar + .icon-bar{margin-top:4px}
.navbar-toggle-button:hover{background-color:#eebb4d}
.main-nav{fontSize:1.25;height:auto;lineheight:1.25;}
.main-nav li{border:none;height:auto;width:100%}
}
.btn{fontSize:1;lineHeight:1;font-weight:700;padding:11px 12px}
a.btn-success,a.btn-warning,a.btn-danger{color:#fff}
.placeholder,.spacer1,.spacer2,.spacer3,.spacer4,.spacer5,.spacer6,.spacer7,.spacer8,.spacer9,.spacer10,.top-shadow,.hr{border:0;display:block;font-size:0;margin:0;padding:0;width:100%}
.no-ov{overflow:hidden}
.spacer1{height:12px;height:.75rem}
.spacer2{height:24px;height:1.5rem}
.spacer3{height:36px;height:2.25rem}
.spacer4{height:48px;height:3rem}
.spacer5{height:60px;height:3.75rem}
.spacer6{height:72px;height:4.5rem}
.spacer7{height:84px;height:5.25rem}
.spacer8{height:96px;height:6rem}
.spacer9{height:108px;height:6.75rem}
.spacer10{height:120px;height:7.5rem}
.cf{zoom:1}
.cf:before,.cf:after{content:"";display:table}
.cf:after{clear:both}
.top-shadow{background:url("../img/bg_shadow.png") repeat-x scroll left top transparent;min-height:24px;min-height:1.5rem}
.hidden{display:none}
.hr{background:url("../img/logo-hr.png") no-repeat center center;min-height:72px;min-height:4.5rem}
.sidebar-nav-toggle-wrapper{display:none}
.sidebar-nav-collapse{border:none;padding:0}
.sidebar{padding:0 20px}
.sidebar-title{color:#eebb4d;font-size:20px;font-size:1.25rem;line-height:1.2;margin:24px 0 0;margin:1.5rem 0 0}
.sidebar-list-item{display:block;z-index:2;border-bottom:1px dotted #ccc;display:block;}
.sidebar-list-item:first-child{border-top:1px dotted #ccc}
.sidebar-list-item-link{display:block;padding-left:20px;}
.sidebar-list-item-link .glyphicon{color:#fff;position:relative;top:2px}
.sidebar-list-item-link:hover,.sidebar-list-item-link:active{background:#efefef;text-decoration:none;}
.sidebar-list-item-link:hover .glyphicon,.sidebar-list-item-link:active .glyphicon{color:#7b54a8}
@media screen and (max-width: 767px) {
.sidebar{padding:0}
.sidebar-title{float:left;margin:12px 0 12px 10px;margin:.75rem 0 .75rem 10px}
.sidebar-nav-toggle-wrapper{background-color:#fff;border-bottom:1px dotted #6e6e6e;display:block;height:48px;height:3rem;margin-bottom:24px;margin-bottom:1.5rem}
.sidebar-nav-toggle-button,.sidebar-nav-toggle-button:hover{background-color:#7b54a8;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;-webkit-box-shadow:none;box-shadow:none;position:relative;color:#fff;float:right;padding:3px 10px;height:36px;height:2.25rem;margin:6px 10px;border:1px solid #320961}
.sidebar-nav-toggle-button:hover{background-color:#320961}
}
.nord-intro-content{padding:0 30px;padding-top:12px;padding-top:.75rem;padding-bottom:12px;padding-bottom:.75rem}
.nord-intro-header{fontSize:2.25;font-weight:700;lineHeight:2.25}
.nord-intro-body{fontSize:1.25;lineHeight:1.25}
.feature{border-right:1px solid #ccc;}
.feature.last{border:none}
.feature-content{padding-top:12px;padding-top:.75rem;padding-bottom:12px;padding-bottom:.75rem;padding-left:20px;padding-right:20px}
.partners-logo{height:600px;height:37.5rem;padding-bottom:24px;padding-bottom:1.5rem}
@media screen and (max-width: 767px) {
.feature{border:none}
.partners-logo{height:432px;height:27rem}
}
.breadcrumbs{padding-top:24px;padding-top:1.5rem}
.paypal-form{height:72px;height:4.5rem}
.event{margin-bottom:48px;margin-bottom:3rem}
.event-date{margin-bottom:0;font-style:italic}
@media screen and (max-width: 767px) {
.breadcrumbs,.entry{padding:0 20px}
}
.footer{background:#303030;color:#6e6e6e;font-family:"Kreon","Helvetica","Arial",sans-serif;text-align:center;}
.footer .menu{margin-bottom:0;list-style:none}
.footer .menu-item a{color:#6e6e6e;}
.footer .menu-item a:hover,.footer .menu-item a:active{color:#eee;text-decoration:none}
.footer-section{padding:0 24px;padding-top:24px;padding-top:1.5rem;padding-bottom:24px;padding-bottom:1.5rem}
.footer-section-title{color:#fff;font-family:"Kreon","Helvetica","Arial",sans-serif}
.footer-border-top,.footer-border-bottom{min-height:23px;margin:0 auto;width:90%}
.footer-border-top{border-bottom:1px solid #151515}
.footer-border-bottom{border-top:1px solid #515151}
.footer-bottom{color:#888;fontSize:.9;lineHeight:.9;padding:0 20px;}
.footer-bottom a{color:#888;text-decoration:underline}
img{max-width:100%}
.slogan{padding:10px 30px 0 0}
.search-form{border-right:1px solid #ccc;margin-right:10px;position:relative;left:0;top:5px;}
.search-form .btn{padding-bottom:5px}
.newsletter{border-right:1px solid #ccc;padding:0 0 0 5px;position:relative;left:0;top:5px}
.social-icons{padding-right:5px;position:relative;left:0;top:5px}
.subscription-form-container{font-size:.75em;position:relative;left:0;top:3px;vertical-align:middle;}
.subscription-form-container form{padding:0;margin:0}
.joinus{position:relative;right:0;top:8px}
.header-meta{height:40px}
.sub-nav{background-color:mid-purple;color:#fff;height:200px;width:100%;z-index:1}
.content-container{background-color:#fff;padding:1em 0}
.sub-content-container{background-color:#fff;padding-top:1em;}
.sub-content-container section{padding:0 2em;}
.sub-content-container section:first-child{border-right:1px solid #e1e1e1}
.sub-content-container section:last-child{border-left:1px solid #e1e1e1}
.social{background-image:url("../img/sprites-social.png");display:inline-block;float:left;min-height:34px;min-width:34px;text-indent:-9999px;}
.social.social-facebook{background-position:-104px -10px}
.social.social-twitter{background-position:-8px -136px}
.social.social-linkedin{background-position:-331px -3px}
.social.social-rss{background-position:-85px -41px}
.story p{font-size:140%;line-height:1.6;margin-bottom:2em}
.address-direction{border-left:1px solid #ccc;padding-left:30px}
.text-small p{font-size:90%}
.breadcrumb{background:none;font-size:.8em;padding:0 0 0 1.5em;margin:-1em 0 1em 0;}
.breadcrumb a{color:darkest-purple}
.breadcrumb .active a{color:lightest-purple}
.affix{top:30px}
.no-list-style{list-style-type:none;margin-left:0}
.partners-list li{height:4em;}
.partners-list li img{height:auto;vertical-align:middle;width:100%}
.border-bottom{border-bottom:1px solid mid-purple}
.nav .divider-vertical{border-left:1px solid lightest-purple;border-right:1px solid lightest-purple}
.carousel{margin:0;}
.carousel .carousel-control{top:50%}
form{margin:0}
.pt2{padding-top:2em}
.vertical-divider{background-color:#444;float:left;min-height:200px;width:2px}
.right-caret{border-bottom:4px solid transparent;border-top:4px solid transparent;border-left:4px solid #000;display:inline-block;height:0;opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);vertical-align:top;width:0}
.list-sitemap{list-style-type:none;padding:0;margin:0 0 2em 1em}
.resource-links{margin:0 0 1.5em}
.resource-list-header{margin:0 0 .5em}
.resource-list{list-style-image:url("../img/list.png");list-style-position:inside;margin:0 0 0 1em;padding:0}
